# Maven
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Spring / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# Build
**/build/

# VS Code
.vscode/

# Environment / sensitive config
.env